<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/sekolah5.jpg" class="img-thumbnail rounded-circle" width="200" alt="sekolah">
            <h1 class="display-4">Jovfrin</h1>
            <p class="lead">Programer | Student</p>
        </div>
    </div>
</div>
 